<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
  <body>
    <h1>Welcome to the Planets app!
        <p>An app for viewing your favorite planets.</p>
        <a href="/planets">Explore Planets</a>
    </h1>
  </body>
</html>
